@section breadcrumb{
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Page 1</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
}
<section class="jumbotron text-center">
  <div class="container">
    <h1>Welcome to BookStore</h1>
    <p class="lead text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio,
      itaque animi quaerat laudantium libero eaque ad ipsa nemo illo obcaecati,
      cupiditate harum est commodi, minus sapiente facilis eius unde.
    </p>
    <p>
      <a href="" class="btn btn-primary my-2">Search Book</a>
    </p>
  </div>
</section>

<div class="py-5 bg-light">
  <div class="container">
    <h3 class="h3">Top Books</h3>
    @* @await Component.InvokeAsync("TopBooks") *@
    <vc:top-books count="3"></vc:top-books>
  </div>
</div>



@section scripts{
<script>
  $(document).ready(function () {
    //alert("document is ready");
  })
</script>
}